BasedOnStyle: google
IndentWidth: 4

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 80
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
